<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="in.joind"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="11"
    android:versionName="2.0.10">

    <!-- Target SDK version is handled in the build.gradle configuration -->
    <uses-sdk android:minSdkVersion="9"/>

    <!-- Since we make requests over the Internet, we need the users permission for it. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Account management. Used to store access tokens -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/JoindInActionBarTheme">

        <!-- Just a bunch of activities here. Needed otherwise android cannot launch them. -->
        <activity
            android:name="in.joind.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.Main"/>
        </activity>
        <activity
            android:name=".EventTalks"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.EventDetail"/>
        </activity>
        <activity
            android:name=".EventComments"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.EventDetail"/>
        </activity>
        <activity
            android:name=".EventTracks"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.EventDetail"/>
        </activity>
        <activity
            android:name=".TalkDetail"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.EventTalks"/>
        </activity>
        <activity
            android:name=".TalkComments"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.TalkDetail"/>
        </activity>
        <activity
            android:name=".AddComment"
            android:label="@string/app_name"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.joind.Main"/>
        </activity>

        <!-- Authentication service. Used to store details of a user's joind.in account -->
        <service
            android:name="in.joind.authenticator.AuthenticationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="2d4ca2fb1f0233b099fd8045815bbbe56496ef5a"/>

    </application>
</manifest>
