<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.noxlogic.joindin"
      android:versionCode="15"
      android:versionName="1.7.1">

    <uses-sdk android:minSdkVersion="4"  android:targetSdkVersion="4"/>

	<!--  We need to upgrade to SDK 1.6 and we can support larger screens -->
	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:anyDensity="true" />

    <!-- Application uses a light theme. I think it's much nicer than the standard
         dark android layout. -->
    <application
      android:icon="@drawable/icon"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Light">

        <!--  The splash screen is our main intent. It will activate the next activity -->
        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Just a bunch of activities here. Needed otherwise android cannot launch them. -->
        <activity android:name=".Main"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EventTalks"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EventComments"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EventTracks"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".TalkDetail"
            android:label="@string/app_name">
        </activity>
            <activity
            android:name=".TalkComments"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".AddComment"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="joindin" />
            </intent-filter>
        </activity>

        <service
            android:name=".authenticator.AuthenticationService"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="cdb83579690fb16cf641940df7c84f9d87551086"/>

    </application>

    <!-- Since we make requests over the Internet, we need the users permission for it. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Account management. Used to store access tokens -->
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
</manifest>
